@font-face {
    font-family: "NextPlay";
    src: url("../fonts/NextPlay.woff") format("woff");
}
@font-face {
    font-family: "CriarConta";
    src: url("../fonts/PoetsenOne-Regular.woff") format("woff");
}
body {
    background-color: rgb(13, 13, 18);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}
header {
    position: relative;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid; 
    border-image: linear-gradient(90deg,
    rgb(139, 92, 246),
    rgb(236, 72, 153),
    rgb(249, 115, 22)) 1;
}
#link-home {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#nome {
    padding: 0%;
    align-content: center;
    font-family: "NextPlay";
    font-size: 4rem;
}
#logo img {
    border-style:hidden;
    border-color: linear-gradient(90deg, 
    rgb(139, 92, 246),
    rgb(236, 72, 153),
    rgb(249, 115, 22));
    
    height: 100px;
    width: auto;
}
#social-media {
    display: flex;
    align-items: center;
    justify-items: right;
    position: absolute;
    right: 1rem;
}
#social-media a {
    margin-left: 1rem;
    transition: transform 0.2s;
    display: inline-flex;
}
#social-media a:hover {
    transform: scale(1.2);
}
#social-media img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}
main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#user,
#login-container {
    width: 90%;
    max-width: 450px;
    background-color: rgb(24, 24, 31);
    padding: 30px 40px;
    border-radius: 8px;
    border: 1px solid rgb(55, 65, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
#criar-conta,
#fazer-login {
    font-family: "CriarConta";
    background-image: linear-gradient(90deg, 
        rgb(139, 92, 246),
        rgb(236, 72, 153),
        rgb(249, 115, 22));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#cadastro,
#form-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nome-usuario,
#email-usuario,
#senha-usuario,
#login-email,
#login-senha {
    background-color: rgb(13, 13, 18);
    color: white;
    border: 1px double rgb(80, 80, 80);
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}
#botao-criar,
#btn-login {
    margin-top: 1.5rem;
    width: 250px;
    height: 49px;
    font-family: "NextPlay";
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
#botao-criar,
#btn-login {
    background-image: linear-gradient(90deg, 
        rgb(139, 92, 246),
        rgb(236, 72, 153),
        rgb(249, 115, 22));
}
#botao-criar:hover,
#btn-login:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
.loginMensagemStatus {
    margin-bottom: 20px;
    background-color: rgb(55, 65, 81);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}
.container-principal {
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    margin-top: 1px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.catalogo-container {
    display: none;
    width: 100%;
}
#catalogo,
#navegue {
    font-family: "CriarConta";
    background-image: linear-gradient(90deg, 
        rgb(139, 92, 246),
        rgb(236, 72, 153),
        rgb(249, 115, 22));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.catalogo-container.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 25px;
}
.filme-card {
    background-color: rgb(24, 24, 31);
    border: 1px solid rgb(55, 65, 81);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.filme-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.filme-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.filme-card h3 {
    padding: 15px 10px;
    font-size: 1rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#recomendacoes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 25px;
}
.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    color: #444;
    font-size: 24px;
    cursor: pointer;
    padding-bottom: 10px;
    margin-top: auto;
}
.rating-stars > span:hover,
.rating-stars > span:hover ~ span {
    color: #ffc107;
}
.filme-card.avaliado {
    border-color: #02ffc8;
}
/*ESTILIZAÇÃO DA NAV*/
.nav-tabs {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(55, 65, 81);
    padding-bottom: 10px;
}
.tab-button {
    font-family: "NextPlay", sans-serif;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 3px solid transparent;
}
.tab-button.active {
   color: white;
    border-bottom: 3px solid rgb(139, 92, 246);
}
.catalogo-container {
    display: none;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.catalogo-container.active {
    display: none;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    
}
/**/
.back-button {
    grid-column: 1 / -1;
    margin-bottom: 20px;
    background-color: rgb(55, 65, 81);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    max-width: 120px;
    justify-self: start;
    transition: color 0.3s, border-bottom 0.3s;
    background-image: linear-gradient(90deg, 
        rgb(139, 92, 246),
        rgb(236, 72, 153),
        rgb(249, 115, 22));
}
.back-button:hover {
    background-color: rgb(75, 85, 99);
}
.artista-card .artista-imagem {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 15px 0;
    border: 3px solid rgb(55, 65, 81);
}
.musica-card {
    flex-direction: column;
    width: 100%;
    height: 430px;
    margin-bottom: 10px;
    justify-content: space-between; 
}
.catalogo-series {
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
}
/**/
.filme-card img {
    width: 100%;
    display: block;
}.filme-card:not(.artista-card):not(.album-card):not(.musica-card) img {
    height: 300px;
    object-fit: cover;
}
.artista-card .artista-imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px auto;
    border: 3px solid rgb(55, 65, 81);
}
.album-card img,
.musica-card img {
    width: 100%;
    height: 230px;
    object-fit: contain;
}
.titulo-secao {
    font-family: "CriarConta";
    background-image: linear-gradient(90deg, 
        rgb(139, 92, 246),
        rgb(236, 72, 153),
        rgb(249, 115, 22));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
/*Propriedades para responsividade em dispositivos*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px 15px;
    }
    #nome {
        font-size: 3rem;
        margin-top: 10px;
    }
    #social-media {
        position: static;
        margin-top: 20px;
    }
    .dashboard-grid {
        grid-template-columns: 1fr; 
        width: 95%;
    }
    .recomendacoes-sidebar {
        position: static;
        margin-top: 40px;
    }
    #user, #login-container {
        width: 90%;
        padding: 20px;
    }
    #cadastro, #form-login {
        margin-left: 0;
    }
    #botao-criar, #btn-login {
        margin-left: 0;
        margin-right: 0;
    }
    .filme-card:not(.artista-card):not(.album-card):not(.musica-card) img {
    height: 300px;
    object-fit: contain;
    background-color: rgb(40, 44, 51);
}
}
